Welcome to Demo
<style>
    table tr th {
        background: #337ab7;
      
        text-align: left;
        vertical-align: center;
    }
</style>
<div class="container">
    <div class="panel">
        <div class="panel-heading border">
            <h2>
                Data table using jquery datatable in Angularjs
            </h2>
        </div>
        <div class="panel-body">
            <table id="example" class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">


                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start Date</th>
                    </tr>
                </thead>


                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start Date</th>
                    </tr>
                </tfoot>


                <tbody>
                    <tr ng-repeat="n in data">
                        <td>{{$index+1}}</td>
                        <td>{{n[0]}}</td>
                        <td>{{n[1]}}</td>
                        <td>{{n[2]}}</td>
                        <td>
                            <a href="http://78boe99prod/ufd/trees1/cfc/tree_service.cfc?key={{n[3]}}&returnformat=json">
                                {{n[3]}}
                            </a>

                        </td>
                        <td>{{n[4] | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>


            </table>    
        </div>
    </div>
</div>