Welcome to Demo
<style>
    table tr th {
        background: #337ab7;
        min-height:34px;
        height:40px;
        text-align: left;
        vertical-align: center;
    }
</style>

<div class="container">
    <div class="panel">
        <div class="panel-heading border">
            <h2>
                Data table using jquery datatable in Angularjs
            </h2>
        </div>
        <div class="panel-body">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
               
            </table> 
        </div>
    </div>
</div>